@model AppMaragogiAPI.Categorias

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Categorias</h4>
    <hr />

    @using (Html.BeginForm("Delete", "Categorias"))
    {
        <p>@Model.MainCategoria</p>
        <p>@Model.SubCategoria</p>

        <input class="invisible" type="number" name="CategoriaId" value="@Model.CategoriaId" />

        <div class="form-group">
            <input class="form-control" name="Token" placeholder="Token de Segurança" />
        </div>

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "Categorias")" class="text-primary">Voltar</a>
            <input type="submit" value="Delete" class="col-11 btn btn-primary" />
        </div>
    }
</div>
